body
{
	margin:0;
	padding:0;
	background:url(../img/login-bg-f.jpg); 
	font-family:sans-serif;
	background-size:100%;

}
.loginbox
{
	width:400px;
	height: 500px;
	background:rgba(0,0,0,0.65);
	color:#fff;
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing: border-box;
	padding-left:60px;
	padding-top: 50px; 
	border-radius:20px;
}

.loginbox p#form-label
{
	margin:0;
	padding:0;
	font-weight:bold;
}
.loginbox input
{
	width:120;
	margin-bottom:10px;

}
.loginbox input[type="email"]
{
	border:none;
	border-bottom: 1px solid #fff;
	background:transparent;
	outline:none;
	height:40px; 
	color:#fff;
	font-size: 16;

}
.loginbox input[type="text"],.loginbox input[type="password"]
{
	border:none;
	border-bottom: 1px solid #fff;
	background:transparent;
	outline:none;
	height:40px;
	width:80%; 
	color:#fff;
	font-size: 16;
	margin-bottom: -30px;

}
.loginbox input[type="submit"]
{
	border:none;
	outline:none;
	height:40px;
	background:#fb2525;
	color:#fff;
	font-size: 18px;
	border-radius: 18px;
}
.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background:#ffc107;
	color:#000;
}
.loginbox a
{
	text-decoration: none;
	font-size:15px;
	line-height: 20px;
	color:darkgrey;
	left:-20px;
}

#create-account{
	font-size:13px;
}

::placeholder{
	color:grey;
}