*
{
	margin :0%;	
}
html
{
    scroll-behavior: smooth;
    overflow: -moz-scrollbars-none;
}
::-webkit-scrollbar { 
    display: none; 
} 
#about
{
    background-image: url(../img/Cleaning-Backgrounds-Desktop.bmp );
    height: 100vh;
    width: 100vw;
    overflow: auto;
}
#services
{
    background-color: blue;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}
#register
{
    background-color: red;
    height: 100vh;
    width: 100vw;
    overflow: auto; 
}
#contact
{
    background-color: gainsboro;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}
@font-face /* This is for loading the font; Giving the name monserrat and load the font from given location*/
{
    font-family: montserrat;
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face
{
    font-family: montserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf)
}

.topnav 
{
    display: flex;
    align-content: flex-end;
    padding-top: 50px;
    background-color:rgb(0, 0, 0);
    overflow: auto;
}
.navbar-brand
{
    color: white !important;
    font-family: montserrat-bold !important;
}
.nav-link
{
    color:#f2f2f2 !important;
    font-family: montserrat !important;
}

.name
{
    flex-grow: 1;
    color: #f2f2f2;
    position: relative;
    float: left;
    text-align: center;
    text-decoration: none;
    font-family: montserrat-bold;
    font-size: 25px;
}
.space2
{
    position: relative;
    flex-grow: 15;
}
.nav-element
{
    flex-grow: 1;
    position: relative;
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: montserrat;   
}
.space
{
    position: relative;
    flex-grow: 3;
}
.nav-element::after
{
    content: '';
    position: relative;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    /* margin-left: 5px;  */
    left: 0;
    background:white;
    transition: width 0.8s ease;
}

.nav-element:hover::after
{
    left : 0;
    width: 100%;
}

.current::after
{
    content: '';
    position: relative;
    width: 100%; height: 3px;
    display: block;
    margin-top: 5px;
    /* margin-left: 5px;  */
    left: 0;
    background:white;
}

