*
{
	margin :0%;	
}
html
{
    scroll-behavior: smooth;
    overflow: -moz-scrollbars-none;
}
::-webkit-scrollbar { 
    display: none; 
} 
#about
{
    background-image: url(../img/tina-bosse-WSw-taiyZPk-unsplash.jpg );
    opacity: 95;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}
#services
{
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}
#register
{
    background-color: red;
    height: 100vh;
    width: 100vw;
    overflow: auto; 
}

@font-face /* This is for loading the font; Giving the name monserrat and load the font from given location*/
{
    font-family: montserrat;
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face
{
    font-family: montserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf)
}

.navbar-brand
{
    color: white !important;
    font-family: montserrat-bold !important;
}
.nav-link
{
    color:white !important;
    font-family: montserrat !important;
}

.dropdown-menu    
{
    background-color: rgba(0,0,0,0.1) !important;
    border-top:5px solid rgba(0,0,0,0.1) !important;
}
.center
{
    text-align: center !important;
}
.dropdown-item:hover
{
    background-color: transparent !important;
}
#more
{
    text-align: center;
    font-size: 15px;
    font-family: montserrat;
}
.name
{
    flex-grow: 1;
    color: #f2f2f2;
    position: relative;
    float: left;
    text-align: center;
    text-decoration: none;
    font-family: montserrat-bold;
    font-size: 25px;
}
.space2
{
    position: relative;
    flex-grow: 15;
}
.nav-element
{
    flex-grow: 1;
    position: relative;
    float: left;
    color: rgb(68,80,92);
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: montserrat;   
}
.space
{
    position: relative;
    flex-grow: 3;
}
.nav-element::after
{
    content: '';
    position: relative;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    /* margin-left: 5px;  */
    left: 0;
    background:white;
    transition: width 0.8s ease;
}

.nav-element:hover::after
{
    left : 0;
    width: 100%;
}

.current::after
{
    content: '';
    position: relative;
    width: 100%; height: 3px;
    display: block;
    margin-top: 5px;
    /* margin-left: 5px;  */
    left: 0;
    background:white;
}

